In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from xgboost import XGBClassifier
import math
from itertools import combinations
from sklearn.metrics import log_loss
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder

In [14]:
data_path = "C:\\Users\\thoma\\Hackaton-groupe-7\\Data_bases_csv\\waiting_times_train.csv"
test_path = "C:\\Users\\thoma\\Hackaton-groupe-7\\Data_bases_csv\\waiting_times_X_test_val.csv"
output_path = "C:\\Users\\thoma\\Hackaton-groupe-7\\Data_bases_csv\\waiting_times_train_sorted.csv"
output_path_test = "C:\\Users\\thoma\\Hackaton-groupe-7\\Data_bases_csv\\waiting_times_val_sorted.csv"

df = pd.read_csv(data_path)
test = pd.read_csv(test_path)

df['DATETIME'] = pd.to_datetime(df['DATETIME'], errors="raise", format="%Y-%m-%d %H:%M:%S")
df = df.sort_values(by="DATETIME").reset_index(drop=True)
print(df['DATETIME'].head(20))
df.to_csv(output_path, index=False)

test['DATETIME'] = pd.to_datetime(test['DATETIME'], errors="raise", format="%Y-%m-%d %H:%M:%S")
test = test.sort_values(by="DATETIME").reset_index(drop=True)
print(test['DATETIME'].head(20))
test.to_csv(output_path_test, index=False)

df['year'] = df['DATETIME'].dt.year
df['month'] = df['DATETIME'].dt.month
df['weekday'] = df['DATETIME'].dt.weekday
df['hour'] = df['DATETIME'].dt.hour
df['minute'] = df['DATETIME'].dt.minute
df.head()

0    2018-10-01 12:15:00
1    2018-10-01 12:15:00
2    2018-10-01 12:15:00
3    2018-10-01 12:30:00
4    2018-10-01 12:30:00
5    2018-10-01 12:30:00
6    2018-10-01 12:45:00
7    2018-10-01 12:45:00
8    2018-10-01 12:45:00
9    2018-10-01 13:00:00
10   2018-10-01 13:00:00
11   2018-10-01 13:00:00
12   2018-10-01 13:15:00
13   2018-10-01 13:15:00
14   2018-10-01 13:15:00
15   2018-10-01 13:30:00
16   2018-10-01 13:30:00
17   2018-10-01 13:30:00
18   2018-10-01 13:45:00
19   2018-10-01 13:45:00
Name: DATETIME, dtype: datetime64[ns]
0    2018-10-01 10:15:00
1    2018-10-02 14:30:00
2    2018-10-02 17:00:00
3    2018-10-02 17:00:00
4    2018-10-04 13:15:00
5    2018-10-04 15:15:00
6    2018-10-05 09:30:00
7    2018-10-06 12:30:00
8    2018-10-06 12:30:00
9    2018-10-06 16:30:00
10   2018-10-06 16:30:00
11   2018-10-06 19:45:00
12   2018-10-07 11:30:00
13   2018-10-07 11:30:00
14   2018-10-07 11:30:00
15   2018-10-07 14:15:00
16   2018-10-07 16:30:00
17   2018-10-08 11:15:00
18   2018-10-08 11:15:00
19   2018-10-08 15:30:00
Name: DATETIME, dtype: datetime64[ns]

,DATETIME,ENTITY_DESCRIPTION_SHORT,ADJUST_CAPACITY,DOWNTIME,CURRENT_WAIT_TIME,TIME_TO_PARADE_1,TIME_TO_PARADE_2,TIME_TO_NIGHT_SHOW,WAIT_TIME_IN_2H,year,month,weekday,hour,minute
0,2018-10-01 12:15:00,Water Ride,224.5,0,20,315.0,-5.0,465.0,20.0,2018,10,0,12,15
1,2018-10-01 12:15:00,Flying Coaster,756.0,0,10,315.0,-5.0,465.0,10.0,2018,10,0,12,15
2,2018-10-01 12:15:00,Pirate Ship,153.0,0,25,315.0,-5.0,465.0,25.0,2018,10,0,12,15
3,2018-10-01 12:30:00,Pirate Ship,153.0,0,25,300.0,-20.0,450.0,25.0,2018,10,0,12,30
4,2018-10-01 12:30:00,Water Ride,224.5,0,20,300.0,-20.0,450.0,20.0,2018,10,0,12,30